<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="mt-5">Login</h2>
      {{> message}}
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Enter password"
            required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <form action="/oauth/login/facebook" method="GET">
        <button type="submit" class="btn btn-primary mt-3">Facebook Login</button>
      </form>
      <div class="mt-3">
        <span>No account?</span>
        <a href="/register">Register</a>
      </div>
    </div>
  </div>
</div>